
*,
*::before,
*::after{
    box-sizing:border-box;
}

@font-face {
    /* source: https://cartr.gitlab.io/undertale-fonts/ */
    font-family: "Determination Mono";
    /* src: url("./assets/fonts/DeterminationMonoWeb.ttf") format("truetype"); */
    src: url("/fonts/DeterminationMonoWeb.ttf") format("truetype");
}

:root{
    font-family: "Determination Mono";
    font-size: 1em;
    --colour1: #000000;
    --colour2: #FFFFFF;
    --colour3: #53D1DF;
}
body,
html{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colour2);
}
.controls-message {
    position: fixed;
    color: var(--colour1);
    top: 3vh;
    left: 5vw;
    opacity: 0.4;
    font-size: 1.5em;
    max-width: 40vw;
    user-select: none;
}
.camera-controller {
    display: flex;
    position: fixed;
    top: 5vh;
    right: 5vw;
    z-index: 1;
    gap: 1vh;
}

.camera-controller-btn:active{
    opacity: 1;
    /* color: var(--colour1);
    background-color: var(--colour2); */
}
.camera-controller-btn {
    color: var(--colour2);
    background-color: var(--colour1);
    border: var(--colour1);
    border-style: solid;
    /* border-radius: 12px; */
    font-size: 2rem;
    width: 12vw;
    opacity: 0.4;
}

/* * modal css */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(2px);
}
.modal-content {
    background-color: var(--colour3);
    border-color: var(--colour1);
    border-style: solid;
    margin: 15% auto;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    overflow: auto;
}
.modal-btn-container {
    display: flex;
    flex-direction: column;
}
.modal-btn {
    font: inherit;
    font-size: 1.5rem;
    margin-top: 1vh;
    min-height: 5vh;
    max-height: 10vh;
    background-color: var(--colour1);
    border-color: var(--colour2);
    border-radius: 5px;
    color: var(--colour2);
    border: none;
}